@media all and (min-width:768px) {
    div.container {width:100%;}
}
@media all and (min-width:992px) {
    div.container {width:990px;}
}
@media all and (min-width:1200px) {
    div.container {width:1170px;}
}
@font-face {
    font-family: whoa;
    src: url(../fonts/UrbanJungleDEMO.otf);
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.ml-10 {margin-left:10px;}
.mr-10 {margin-right:10px;}
.mb-2 {margin-bottom:2px;}
.mb-5 {margin-bottom:5px;}
.mb-10 { margin-bottom: 10px; }
.mb-20 {margin-bottom:20px;}
.mt-5 {margin-top:5px;}
.mt-10 {margin-top:10px;}
.mt-20 {margin-top:20px;}
.pb-10 { padding-bottom: 10px; }
.pl-10 { padding-left:10px; }
.pr-10 { padding-right:10px; }
.pt-10 { padding-top:10px; }
.pl-0 {padding-left:0;}
.pr-0 {padding-right:0;}

body {
    padding: 20px 0;
}

span.inline-glyph {
    margin-right: 2px;
}

.iconyellow {
    color: #ffc107;
}

.iconred {
    color: #e51c23;
    font-size: 18px;
    float: left;
}

.dealer-warning {
    color: #e51c23;
    font-weight: bold;
    margin-top:10px;
}
.new-dealer-btn {
    margin-top:15px;
}

.progress {
    margin: 0;
    height: 5px;
    border-radius: 0;
}

div.progress-bar {
    background-color: #259b24;
    background-image: none;
}

.icongreen {
    color: #259b24;
    font-size: 18px;
    float: left;
}
.noadjust {
	margin-right:0;
}

.btn[disabled] {
    opacity: 0.9;
}

.production {color: #0d5302;}

body.work-mode .production,
body.work-mode .production-header,
body.work-mode .distribution,
body.work-mode .distribution-header,
body.work-mode .muscle-column,
body.work-mode .muscle-header,
body.work-mode .btn-distribution,
body.work-mode .distribution .btn-default,
body.work-mode .btn-production,
body.work-mode .btn-muscle,
body.work-mode div.muscle-content,
body.work-mode div.muscle,
body.work-mode div.dealer-content,
body.work-mode div.dealer,
body.work-mode div.drug-content,
body.work-mode div.drug {color:black;border-color:#bbb;}

body.work-mode div.muscle.open,
body.work-mode div.drug.open,
body.work-mode div.dealer.open,
body.work-mode div.progress-bar,
body.work-mode p.jg-tooltip,
body.work-mode div.jg-tooltip,
body.work-mode span.jg-tooltip{background-color: #bbb;}


.production-header {
    color: #259b24;
}

.btn-production {
    color: #0d5302;
    border-color: #72d572;
}

.dealer-content button {
    margin-bottom: 8px;
}

#optionsModal button {
    margin-bottom:10px;
}

#hireDealerModal p.dealer-name {
    min-height: 40px;
    margin-top:20px;
}

.distribution {
    color: #311b92;
}

.distribution-header {
    color: #673ab7;
}

.btn-distribution,
.distribution .btn-default {
    color: #311b92;
    border-color: #b39ddb;
}

.muscle-column {
    color: #bf360c;
}

.muscle-header {
    color: #ff5722;
}

.btn-muscle {
    color: #bf360c;
    border-color: #ffab91;
}

.form-control {
    height: auto;
    color: inherit;
    padding:3px;
}

.strong {
    font-weight: bold;
}

h1.street {
    font-family: whoa;
    font-size: 74px;
}

span.current-cash {
    font-size: 20px;
}

@viewport {
    zoom: 1.0;
}

div.upgrade-div {
    padding-top: 10px;
}

button.btn.options-button {
    margin-bottom: 10px;
}

button.btn {
    width: 100%;
    border-radius: 0;
	overflow:hidden;
	white-space:normal;
}

span.qty {
    float: left;
    font-size: 18px;
    font-weight: bold;
}

div.dealer-content,
div.dealer {
    border: 1px solid #673ab7;
    color: #311b92;
}

div.muscle-content,
div.muscle {
    border: 1px solid #bf360c;
    color: #bf360c;
}
p.jg-tooltip-btn {
	margin-bottom:0;
}
.jg-tooltip-btn {
	cursor:pointer;
	margin-right:0;
	padding:4px 6px 6px;
	border-radius:4px 4px 0 0 !important;
}
.btn-group .btn {
	margin-left:0 !important;
}
div.jg-tooltip,
p.jg-tooltip,
span.jg-tooltip{
	padding:4px 6px 6px;
	color:white;
	margin-bottom:0;
}

.jg-tooltip.left-tip {
		border-radius:0 4px 4px 4px;
}
.jg-tooltip.right-tip {
		border-radius:4px 0 4px 4px;
}

div.dealer.open,
.distribution p.jg-tooltip,
.distribution span.jg-tooltip{
    background-color: #673ab7;
}

div.muscle.open,
.muscle-column p.jg-tooltip,
.muscle-column span.jg-tooltip {
	background-color: #bf360c;
}

div.drug-content,
div.drug {
    border: 1px solid #259b24;
    color: #0d5302;
}

div.drug.open,
.production p.jg-tooltip,
.production span.jg-tooltip{
    background-color: #259b24;
}

div.muscle-content,
div.dealer-content,
div.drug-content {
    margin: 0 0 5px;
    max-height: 9999px;
    border-top: none;
    padding: 12px 0;
    display:none;
}

div.muscle-content.content-open,
div.dealer-content.content-open,
div.drug-content.content-open {
    display:inherit;
}
#cash-wrap {
	height:190px;
}
#current-cash {
	z-index:50;
	padding-bottom:5px;
	background: none repeat scroll 0 0 #ffffff;
}

div.muscle,
div.dealer,
div.drug {
    margin: 10px 0 0;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
}

div.muscle > span.glyphicon-chevron-up,
div.muscle > span.glyphicon-chevron-down,
div.dealer > span.glyphicon-chevron-up,
div.dealer > span.glyphicon-chevron-down,
div.drug > span.glyphicon-chevron-up,
div.drug > span.glyphicon-chevron-down {
    float: right;
    display: none;
    font-size: 18px;
    margin-left: -18px;
}

.jg-tooltip-btn .glyphicon-info-sign {
    visibility:hidden;
}
.jg-tooltip-btn:hover .glyphicon-info-sign {
    visibility:visible;
}

div.muscle:hover > span.glyphicon,
div.dealer:hover > span.glyphicon,
div.drug:hover > span.glyphicon {
    display: inline;
}

p.distribution-tooltip {
	padding:2px 15px 5px;
}

div.muscle.open,
div.dealer.open,
div.drug.open,
p.distribution-tooltip {
    color: white;
}

.weed {
    color: #00A000;
}

label {
    float: left;
    margin-top: 20px;
}

.checkbox {
    float: left;
    margin: 20px 0 0 10px !important;
}

div.bottom-links {
    margin-top:50px;
    text-align:center;
}

div.bottom-links > a {
    margin:0 10px 0 10px;
}
