body.night-mode,
body.night-mode .dropdown-menu {
    background: #1a1a1a;
    color: #eee;
  }

body.night-mode .modal-content {
    background: #1a1a1a;
    border: 1px solid #262626;
  }

  body.night-mode .btn,
  body.night-mode .btn:hover,
  body.night-mode .btn-default:hover,
  body.night-mode .btn-default:focus {
    background-image: linear-gradient(to bottom,#262626 0,#333 100%);
    background: #333;
    text-shadow: 0 1px 0 #333;
    color: #eee;
    border-color: #262626;
  }

  body.night-mode .btn-default:disabled,
  body.night-mode .btn-default[disabled] {
    background: linear-gradient(to bottom,#333 0,#4d4d4d 100%);
    text-shadow: 0 1px 0 #333;
    color: #eee;
    border-color: #262626;
  }

  body.night-mode .btn-distribution,
  body.night-mode .distribution .btn-default,
  body.night-mode .distribution {
    color: #ccccff !important;
  }

  body.night-mode .distribution .btn-default {
    background-image: linear-gradient(to bottom,#262626 0,#333 100%);
    background: #333;
    text-shadow: 0 1px 0 #333;
    border-color: #262626;
  }

  body.night-mode div.drug.open,
  body.night-mode div.dealer.open {
    color: #eee !important;
  }

  body.night-mode .close {
    color: #700;
    text-shadow: 0 1px 0 #666;
    opacity: 1;
  }

  body.night-mode .close:hover {
    color: #900;
    text-shadow: 0 1px 0 #666;
    opacity: 1;
  }

  body.night-mode .form-control {
    background-image: linear-gradient(to bottom,#262626 0,#333 100%);
    background: #333;
    text-shadow: 0 1px 0 #333;
    color: #eee;
    border-color: #262626;
  }

  body.night-mode div.dealer-content,
  body.night-mode div.dealer {
    color: #ccccff !important;
  }

  body.night-mode div.cash-top {
    background: #1a1a1a;
    border-bottom: 1px dotted #333;
  }

  body.night-mode div.drug-content,
  body.night-mode div.drug {
    color: #6df159;
  }

  body.night-mode .progress {
    background-image: linear-gradient(to bottom,#262626 0,#333 100%);
  }

  body.night-mode .dropdown-menu > li > a {
    color: #eee;
  }

  body.night-mode .alert-danger {
    background-image: linear-gradient(to bottom,#330000 0,#660000 100%);
    background: #660000;
    text-shadow: 0 1px 0 #333;
    border-color: #262626;
    color: #eee;
  }

  body.night-mode .input-group-addon {
    color: #eee;
    background-color: #262626;
    border-color: #333333;
  }

  body.work-mode.night-mode .production,
  body.work-mode.night-mode .production-header,
  body.work-mode.night-mode .distribution,
  body.work-mode.night-mode .distribution-header,
  body.work-mode.night-mode .muscle-column,
  body.work-mode.night-mode .muscle-header,
  body.work-mode.night-mode .btn-distribution,
  body.work-mode.night-mode .distribution .btn-default,
  body.work-mode.night-mode .btn-production,
  body.work-mode.night-mode .btn-muscle,
  body.work-mode.night-mode div.muscle-content,
  body.work-mode.night-mode div.muscle,
  body.work-mode.night-mode div.dealer-content,
  body.work-mode.night-mode div.dealer,
  body.work-mode.night-mode div.drug-content,
  body.work-mode.night-mode div.drug {
    color: #eee !important;
    border-color: #262626;
  }

  body.work-mode.night-mode div.muscle.open,
  body.work-mode.night-mode div.drug.open,
  body.work-mode.night-mode div.dealer.open,
  body.work-mode.night-mode div.progress-bar,
  body.work-mode.night-mode p.jg-tooltip,
  body.work-mode.night-mode div.jg-tooltip,
  body.work-mode.night-mode span.jg-tooltip {
    background-color: #262626 !important;
  }
